<%= javascript_include_tag "game" %>


<div class="gc-scoreboard">
    <div class="gc-scores">
        <div class="gc-team gc-away-team" id="nyy">
            <%= image_tag "yankees.jpg" %>
            <span class="gc-score">0</span>
        </div>
        <div class="gc-team gc-home-team" id="bos">
            <%= image_tag "Bosox.gif" %>
            <span class="gc-score">0</span>
        </div>
    </div>
</div>