<%= javascript_include_tag "admin" %>


<div class="gc-scoreboard">
    <div class="gc-scores">
        <div class="gc-team gc-away-team" id="nyy">
            <%= image_tag "yankees.jpg" %>
            <span class="gc-score">0</span>
            <button class="gc-increase gc-increase-away">^</button>
        </div>
        <div class="gc-team gc-home-team" id="bos">
            <%= image_tag "Bosox.gif" %>
            <span class="gc-score">0</span>
            <button class="gc-increase gc-increase-home">^</button>
        </div>
    </div>
    <!-- <div class="gc-meta">
        <label class="gc-balls">0</label>
        &ndash;
        <label class="gc-strikes">0</label>
        <label class="gc-outs">0</label> outs
    </div> -->
</div>
<!-- <div class="gc-content">
    <div class="gc-strikezone">

    </div>
    <div class="gc-field">

    </div>
</div>
<ul class="gc-action">
    <li><label for="single">Single</label>: 
        <input id="single" type="radio" name="action" value="single" /></li>
    <li><label for="double">Double</label>: 
        <input id="double" type="radio" name="action" value="double" /></li>
    <li><label for="triple">Triple</label>: 
        <input id="triple" type="radio" name="action" value="triple" /></li>
    <li><label for="homerun">Home Run</label>: 
        <input id="homerun" type="radio" name="action" value="homerun" /></li>
    <li><label for="out">Out</label>: 
        <input id="out" type="radio" name="action" value="out" /></li>
    <li><label for="foul">Foul</label>: 
        <input id="foul" type="radio" name="action" value="foul" /></li>
</ul>
<input type="submit" class="gc-submit" /> -->